* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --link-color: hsl(228, 45%, 44%);

    --fs-s: 0.7rem;
    --fs-m: 1rem;
    --fs-l: 1.3rem;

    --border-radius-card: 1.3rem;
    --border-radius-img: 1rem;

    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
}

html {
    font-size: 15px;
}

body {
    background: var(--slate-300);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    background: var(--white);
    padding: var(--spacing-m);
    border-radius: var(--border-radius-card);
    width: 21rem;
    height: auto;
    box-shadow: 0.2rem 0.2rem 1.3rem var(--slate-500);
}

.card img {
    border-radius: var(--border-radius-img);
    width: 100%;
}

.card h1{
    font-size: var(--fs-l);
    color: var(--slate-900);
    font-weight: 700;
    padding: var(--spacing-l);
}

.card p {
    font-size: var(--fs-m);
    color: var(--slate-500);
    font-weight: 400;
    padding: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
}

.card h1, .card p {
    text-align: center;
}


.attribution {
    font-size: var(--fs-s);
    text-align: center;
    margin: var(--spacing-l) 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}